kibot:
  #https://github.com/skorokithakis/KiBot
  version: 1

global:
  # Restore project after running kibot
  restore_project: true
  
preflight:
   run_erc: false
   run_drc: false
   ignore_unconnected: false
   update_xml: true

   # TODO: what is the difference between check_zone_fills and fill_zones?
   check_zone_fills: true
   fill_zones: true
   
   set_text_variables:
     - name: repo
       command: echo "${GITHUB_REPOSITORY}" | awk -F / '{ print $NF }'

     - name: version
       command: echo "${BOARD_VERSION:=${GITHUB_REF_NAME:=no_version}}"

       # TODO: use atime from pcb file?
       # If we run pipelines later on this will not be accurate!
     - name: date
       command: date +"%B %d, %Y"

import:
  - output-jlcpcb-gerbers.yaml # Uses $GERBER_FILE_JLCPCB for output file
  - output-thumbnails.yaml

